*, *:before, *:after {
    box-sizing:         inherit;
    }

img {
    border:             none;
    }

html {
    box-sizing:         border-box;
    position:           relative;
    /*-webkit-text-size-adjust: 100%;*/
    }

body {
    margin:             1em;
    font-family:        'Helvetica Neue', Helvetica, arial, sans-serif;
    font-size:          15px;
    line-height:        1.3;
    color:              #000;
    }

a {
    text-decoration:    inherit;
    }

p {
    }

/* Carousel Styling */
#carousel {
    }

#carousel .slide {
    }

/* Stylin of slide information */
#carousel h1,
#carousel p,
#carousel .info {
    }