* {
  margin: 0;
  padding: 0; }

img {
  border: none;
  vertical-align: middle; }

html {
  box-sizing: border-box;
  background-color: #F5F5F5; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-size: 17px;
  line-height: 1.5882352941;
  max-width: 1400px;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  color: #353535;
  box-shadow: 0 0 20px #DDD;
  background: #FFF; }

h1 {
  font-size: 45px;
  line-height: 54px; }

h2 {
  font-size: 28px;
  line-height: 1.285714286; }

h3 {
  font-size: 17px;
  line-height: 27px; }

ul, ol {
  list-style: square;
  padding: 1em 0 1em 1.5em; }
  ul ul, ul ol, ol ul, ol ol {
    font-size: 80%; }

.subheading {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px; }

p {
  margin: 12px 0; }

a {
  text-decoration: inherit;
  color: #4B7CFF; }

section {
  clear: both; }

.grey {
  background-color: #F2F1F3; }

.divider-top {
  border-top: 2px solid #F2F1F3; }

.divider-bottom {
  border-bottom: 2px solid #F2F1F3; }

html.noscroll,
html.noscroll body {
  height: 100%;
  overflow: hidden; }

#nav {
  position: relative;
  background-color: #33272C;
  transition: all 400ms ease; }
  #nav #logo img {
    transition: all 400ms ease; }
  #nav nav ul {
    list-style: none;
    padding: 0; }
  #nav nav a {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    padding: 10px; }
  @media (min-width: 900px) {
    #nav {
      height: 110px;
      padding: 24px 10.5263157895%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end; }
      #nav .hamburger {
        display: none; }
      #nav nav {
        position: absolute;
        right: 10.5263157895%;
        top: 66px;
        padding-left: calc(128px + 10.5263157895%); }
        #nav nav ul li {
          display: inline-block; } }
  @media (max-width: 899px) {
    #nav {
      padding: 8px 5.263157895%; }
      #nav #logo img {
        width: 68px; }
      #nav nav {
        transition: height 200ms ease-in;
        height: 0;
        overflow: hidden;
        text-align: center;
        position: fixed;
        z-index: 1;
        top: 50px;
        left: 0;
        right: 0;
        background: #33272C; }
        #nav nav ul {
          padding-top: 24px; }
        #nav nav a {
          font-size: 22px;
          line-height: 2; }
        #nav nav.open {
          height: calc(100vh - 20px); }
      #nav .hamburger {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 2px;
        right: 5.263157895%;
        width: 48px;
        height: 48px;
        transition: all 0.25s; }
      #nav .hamburger__top-bun,
      #nav .hamburger__bottom-bun {
        content: '';
        display: block;
        position: absolute;
        left: 15px;
        width: 18px;
        height: 2px;
        background: #FFF;
        transform: rotate(0);
        transition: all 0.25s; }
      #nav .hamburger:hover [class*="-bun"] {
        background: #AAA; }
      #nav .hamburger__top-bun {
        top: 23px;
        transform: translateY(-3px); }
      #nav .hamburger__bottom-bun {
        bottom: 23px;
        transform: translateY(3px); }
      #nav .hamburger.open {
        transform: rotate(90deg); }
      #nav .hamburger.open .hamburger__top-bun {
        transform: rotate(45deg) translateY(0px); }
      #nav .hamburger.open .hamburger__bottom-bun {
        transform: rotate(-45deg) translateY(0px); } }

.homepage-showcase {
  display: grid;
  grid-template-columns: 41.6666666667% 16.6666666667% 41.6666666667%;
  grid-template-rows: auto; }
  .homepage-showcase div {
    padding: 72px 8.4210526316%;
    background-size: cover;
    background-position: 50% 50%; }
  .homepage-showcase h2 {
    padding-right: 52px; }
  .homepage-showcase .subheading {
    padding-right: 52px; }
  .homepage-showcase .image,
  .homepage-showcase .wide {
    padding-left: 17.4436090226%;
    padding-right: 17.4436090226%; }
  .homepage-showcase .image {
    color: #FFF; }
  .homepage-showcase .wide {
    grid-column-end: span 2; }
  .homepage-showcase .tall {
    grid-row-end: span 2; }
  .homepage-showcase .blue {
    background-color: #4B7CFF;
    color: #FFF; }
  .homepage-showcase .white {
    background-color: #FFF; }
  .homepage-showcase a {
    font-weight: bold;
    display: inline-block; }
  .homepage-showcase a.white,
  .homepage-showcase a.blue {
    padding: 18px; }

@media (max-width: 768px) {
  .homepage-showcase {
    display: block; } }

.two-column {
  padding: 95px 112px 85px;
  display: grid;
  grid-template-columns: 29% 73%;
  grid-template-rows: auto;
  align-items: center; }
  .two-column h2 {
    padding-right: 0; }
  .two-column img {
    height: auto;
    width: 100%; }
  .two-column .text {
    margin-left: 10%; }

.two-column.even {
  grid-template-columns: 49% 49%;
  grid-gap: 2%;
  align-items: start; }

@media (max-width: 768px) {
  .two-column {
    display: block;
    padding: 10%; }
    .two-column .text {
      margin: 24px 0 0; } }

.info-blocks div {
  float: left;
  width: 50%;
  padding: 56px 112px;
  background-color: #DDDDDD; }

.info-blocks div:nth-child(1) {
  background-color: #D1D1D1; }

.info-blocks div:nth-child(2) {
  background-color: #DDDDDD; }

.info-blocks div:nth-child(3) {
  background-color: #DDDDDD; }

.info-blocks div:nth-child(4) {
  background-color: #E7E7E7; }

.info-blocks div:nth-child(5) {
  background-color: #EBEBEB; }

.info-blocks div:nth-child(6) {
  background-color: #D1D1D1; }

@media (max-width: 768px) {
  .info-blocks div {
    width: auto; } }

section.image {
  margin-top: -60px;
  background-size: cover;
  background-position: 50% 50%;
  color: #FFF; }

.slogan {
  text-align: center;
  padding: 280px 72px; }

.big-labels {
  padding: 75px 0 120px 0; }
  .big-labels div + div {
    margin-top: 60px; }
  .big-labels div:after {
    content: "";
    display: table;
    clear: both; }
  .big-labels h2 {
    float: left;
    clear: both;
    width: 29.7368421053%;
    margin-left: 10.5263157895%;
    padding: 0;
    text-align: right; }
  .big-labels p, .big-labels ul, .big-labels ol {
    float: right;
    width: 40.2631578947%;
    margin: 0 16.2280701754% 0.5em 0; }

@media (max-width: 768px) {
  .big-labels div + div {
    margin-top: 21px; }
  .big-labels h2, .big-labels p, .big-labels ul, .big-labels ol {
    float: none;
    width: auto;
    padding: 0;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left; } }

footer {
  clear: both;
  padding: 70px 10.5263157895%;
  background-color: #F2F1F3;
  color: #9394A1;
  display: flex;
  justify-content: space-between;
  font-size: 16px; }
  footer ul, footer li {
    display: inline; }
  footer a {
    display: inline-block;
    color: inherit;
    text-decoration: underline; }
  footer .footer-links a {
    margin: 0 8px; }
  footer .social-links a {
    margin: 0 3px; }

@media (max-width: 768px) {
  footer {
    display: block;
    text-align: center; }
  footer small,
  footer ul {
    display: block;
    margin: 16px 10%; } }

.happlications {
  margin: 60px 2.1052631579%;
  list-style: none;
  font-size: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  grid-column-gap: 32px;
  grid-row-gap: 32px; }
  .happlications li {
    position: relative;
    height: 100%; }
    .happlications li span {
      position: absolute;
      left: -0.5em;
      bottom: -0.5em;
      max-width: 90%;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 10px;
      background: black;
      color: white;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 6px 7px 5px 6px;
      line-height: 1; }
    .happlications li img {
      width: 100%;
      filter: grayscale(100%);
      transform: scale(0.95);
      transition: all 200ms ease; }
    .happlications li:hover img {
      filter: grayscale(0%);
      transform: scale(1.05); }
  @media (max-width: 768px) {
    .happlications {
      display: block; }
      .happlications li {
        margin: 24px 0; } }

@media (max-width: 768px) {
  #happlications {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; } }

@media (max-width: 400px) {
  #happlications {
    grid-template-columns: 1fr 1fr 1fr; } }

.cool-header {
  text-align: center;
  padding: 90px 32px 70px;
  color: white;
  background: #33272C; }
  .cool-header .subheading {
    display: block;
    padding-top: 18px; }

#articles section {
  padding: 80px 0 18px; }
  #articles section:after {
    content: "";
    display: table;
    clear: both; }
  #articles section img {
    float: left;
    width: 58.7719%;
    margin-left: 10.5263%; }
  #articles section .description {
    float: right;
    margin-top: 42px;
    margin-right: 4.0351%;
    width: 21.7544%; }
  #articles section header {
    clear: both;
    float: left;
    position: relative;
    top: -60px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 24px;
    padding-left: 38px;
    width: 50%;
    color: white;
    background-color: #4B7CFF; }
    #articles section header h2 {
      padding: 0; }

#articles section:nth-child(even) {
  background-color: #F2F1F3; }
  #articles section:nth-child(even) img {
    float: right;
    margin-left: 0;
    margin-right: 10.5263%; }
  #articles section:nth-child(even) .description {
    float: left;
    margin-right: 0;
    margin-left: 4.0351%; }
  #articles section:nth-child(even) header {
    float: right; }

@media (max-width: 768px) {
  #articles section,
  #articles section:nth-child(even) {
    position: relative;
    padding-top: 9em;
    padding-bottom: 4em; }
    #articles section img,
    #articles section .description,
    #articles section:nth-child(even) img,
    #articles section:nth-child(even) .description {
      display: block;
      float: none;
      margin-left: auto;
      margin-right: auto;
      width: 83.157894737%; }
    #articles section header,
    #articles section:nth-child(even) header {
      position: absolute;
      top: 0;
      float: none;
      width: 100%;
      padding: 12px 8.4210526316%; }
      #articles section header h2,
      #articles section:nth-child(even) header h2 {
        font-size: 20px; } }

#using-hap-intro {
  padding: 60px 10.5263157895%; }
  #using-hap-intro .hap-flavors {
    padding: 0;
    list-style: none;
    font-size: 0; }
    #using-hap-intro .hap-flavors li {
      display: inline-block;
      vertical-align: top;
      width: 25%;
      padding: 12px 2% 12px 0;
      font-size: 13px;
      line-height: 20px; }
  @media (max-width: 768px) {
    #using-hap-intro {
      padding-left: 8.4210526316%;
      padding-right: 8.4210526316%; }
      #using-hap-intro .hap-flavors li {
        display: block;
        width: auto; } }

.instructions {
  float: left;
  margin-right: 4.0351%;
  margin-left: 4.0351%;
  width: 40%; }

#using-hap-instructions section {
  padding: 80px 10.5263157895% 60px;
  background-color: #F2F1F3; }
  #using-hap-instructions section:after {
    content: "";
    display: table;
    clear: both; }
  #using-hap-instructions section img, #using-hap-instructions section video, #using-hap-instructions section .under-media {
    float: right;
    clear: right;
    width: 50%; }
    @media (max-width: 768px) {
      #using-hap-instructions section img, #using-hap-instructions section video, #using-hap-instructions section .under-media {
        float: none;
        width: 100%; } }
  #using-hap-instructions section pre {
    white-space: pre-wrap; }

#using-hap-instructions section:nth-child(odd) .instructions {
  margin-left: 0; }

#using-hap-instructions section:nth-child(even) {
  background-color: white; }
  #using-hap-instructions section:nth-child(even) img, #using-hap-instructions section:nth-child(even) video, #using-hap-instructions section:nth-child(even) .under-media {
    float: left;
    clear: left; }
  #using-hap-instructions section:nth-child(even) .instructions {
    float: right;
    margin-right: 0; }

@media (max-width: 768px) {
  .instructions {
    width: auto; } }

#creative-coding {
  padding: 60px 13.8596491228%; }
  #creative-coding .environments {
    padding: 0;
    list-style: none;
    font-size: 0; }
    #creative-coding .environments li {
      display: inline-block;
      vertical-align: top;
      width: 20%;
      padding: 12px 2% 12px 0;
      font-size: 13px;
      line-height: 20px; }
      #creative-coding .environments li img {
        margin-top: 12px;
        width: 100%; }
  @media (max-width: 768px) {
    #creative-coding {
      padding-left: 8.4210526316%;
      padding-right: 8.4210526316%; }
      #creative-coding .environments li {
        display: block;
        width: auto; } }

.centered-block {
  padding: 60px 13.8596491228%; }
  .centered-block ul {
    padding: 0;
    list-style: none;
    font-size: 0;
    display: flex;
    justify-content: center; }
    .centered-block ul li {
      width: 26%;
      margin: 0 2%;
      padding: 12px 2% 12px 0;
      font-size: 13px;
      line-height: 20px; }
      .centered-block ul li img {
        margin-top: 12px;
        width: 100%; }
  @media (max-width: 768px) {
    .centered-block {
      padding-left: 8.4210526316%;
      padding-right: 8.4210526316%; }
      .centered-block ul {
        display: block; }
        .centered-block ul li {
          width: auto;
          margin: 0;
          padding-left: 0;
          padding-right: 0; } }

.cta-bar {
  padding: 32px;
  background: #4B7CFF;
  color: #FFF;
  text-align: center;
  font-weight: bold; }
  .cta-bar .subheading {
    margin-bottom: 15px; }
  .cta-bar a {
    color: inherit;
    font-size: 16px; }
    .cta-bar a img {
      margin-left: 15px; }
  @media (max-width: 768px) {
    .cta-bar {
      border-bottom: 2px solid #FFF; } }
