

#using-isf-instructions {
    section {
        padding: 80px 10.5263157895% 60px;
        background-color: $darker-grey;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        img, video, .under-media {
            float: right;
            clear: right;
            width: 50%;
            @media (max-width: 768px) {
                float: none;
                width: 100%;
            }
        }

        pre {
            white-space: pre-wrap;
        }
    }
    section:nth-child(odd) {
        .instructions {
            margin-left: 0;
        }
    }
    section:nth-child(even) {
        background-color: transparent;
        img, video, .under-media {
            float: left;
            clear: left;
        }
        .instructions {
            float: right;
            margin-right: 0;
        }
    }

    .video-section {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .media {
        flex: 0 0 55%;

        iframe {
          width: 100%;
        }
      }

      .instructions {
        flex: 0 0 35%;
      }

      @media (max-width: 768px) {
        flex-wrap: wrap;
        .media,
        .instructions {
          flex-basis: 100%;
        }
      }
    }
    .instructions-wrapper {
      display: flex;

      .instructions {
        flex: 0 0 50%;
      }

      @media (max-width: 768px) {
        flex-wrap: wrap;

        .instructions {
          flex-basis: 100%;
          width: 100%;

          .gist {
            width: 100%;
          }
        }
      }
    }
}