#using-isf-instructions {
    section {
        padding: 80px 112px 60px;
        background-color: $darker-grey;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        @media (min-width: 768px) {
          &:nth-child(odd) {
            img, iframe {
              margin-left: 36px;
            }
          }
          &:nth-child(even) {
            img, iframe {
              margin-right: 36px;
            }
          }
        }
        img, iframe {
            float: right;
            clear: right;
            width: 50%;
            @media (max-width: 768px) {
              margin-left: 0;
              margin-right: 0;
              float: none;
              width: 100%;
            }
        }
        pre {
            white-space: pre-wrap;
        }
    }
    section:nth-child(odd) {
        .instructions {
            margin-left: 0;
        }
    }
    section:nth-child(even) {
        background-color: transparent;
        img, iframe {
            float: left;
            clear: left;
            margin-left: 0;
        }
        .instructions {
            float: right;
            margin-right: 0;
        }
    }

}