<% page_name = 'developers' %>

<%- include('partials/doc_top'); %>
<%- include('partials/nav'); %>

<header class="cool-header">
    <h1>Developers</h1>
    <span class="subheading">Supporting ISF in your applications</span>
</header>

<div id="creative-coding" class="centered-block">
    <h2>Information for Developers</h2>
    <p>Interactive Shader Format, or ISF for short, is an open specification that defines a standardized interface for creating GLSL shaders that can be used as generators, effects/filters, or transitions in host applications. This format was crated to provide a simple and lightweight format for effect authors that encourages ease of creation and rapid prototyping, while also having sufficiently predictable behavior that the format can be practically and usefully integrated with a wide variety of host applications across a wide variety of platforms.</p>
    <p>Developers who are interested in writing their own shaders can read more about the process on the <a href="/using-isf/" %> title="">Using ISF</a> page and the <a href="https://docs.isf.video" %> title="">ISF Documentation</a> pages.</p>
    <p>Developers who are interested in adding support for ISF shaders in their host applications can find more information in the sections below, as well as on the full <a href="https://github.com/mrRay/ISF_Spec/" %> title="">ISF Specification</a> page.</p>
    <p>Over 300 generators, effects and transitions written in GLSL can be found in the <a href="https://github.com/vidvox/ISF-FILES" %> title="">ISF Files</a> repository. These files can be bundled with software as a standard set of shaders, or used as starting points for new compositions. Though written for the ISF specification, these shaders can often easily be adapted to other shader specifications.</p>

    <h3>Official Frameworks</h3>
	<p>These existing libraries and frameworks can be used to add support for ISF to applications on desktop, mobile and the web.</p>
    <ul>
        <li><a href="https://github.com/mrRay/ISFMSLKit" title="" target="_blank"><img src="/images/developer/metal-96x96_2x.png" alt="Metal logo" /> Objective-C / Metal (Mac)</a></li>
        <li><a href="https://github.com/mrRay/vvopensource" title="" target="_blank"><img src="/images/developer/opengl.png" alt="OpenGL logo" /> Objective-C / OpenGL (Mac, iOS)</a></li>
        <li><a href="https://github.com/mrRay/vvisf-gl" title="" target="_blank"><img src="/images/developer/opengl.jpg" alt="OpenGL logo" /> C++ / OpenGL (Mac, Win, Linux, iOS)</a></li>
        <li><a href="https://github.com/msfeldstein/interactive-shader-format-js" title="" target="_blank"><img src="/images/developer/WebGL.png" alt="WebGL logo" /> JavaScript / WebGL (Web)</a></li>
    </ul>

    <h3>Sample Code and Utility Apps</h3>
    <p>There are several great examples of how to use the provided frameworks for application development. Some examples…</p>
    <ul>
        <li><a href="https://github.com/mrRay/vvopensource" title="" target="_blank"><img src="/images/integrations/apps/isf-editor.png" alt="ISF logo" /> Obj-C, ISF Editor (Mac)</a></li>
        <li><a href="https://github.com/mrRay/vvisf-gl" title="" target="_blank"><img src="/images/integrations/apps/isf-editor.png" alt="ISF logo" /> C++ / qt, ISF Editor (Mac + Win)</a></li>
        <li><a href="https://glitch.com/~isf-example" title="" target="_blank"><img src="/images/integrations/apps/glitch-logo.png" alt="Glitch logo" /> Javascript, Glitch Example</a></li>
    </ul>
    
    <h3>Other Libraries</h3>
	<p>Third party libraries for working with in other languages…</p>
    <ul>
        <li><a href="https://github.com/nannou-org/isf" title="" target="_blank"><img src="/images/integrations/apps/rust.png" alt="Rust logo" /> Rust</a></li>
    </ul>
    
    <h3>Creative Coding</h3>
    <p>The following addons enable ISF support in popular creative coding environments…</p>
    <ul>
        <li><a href="https://github.com/mrRay/jit.gl.isf/releases" title="" target="_blank"><img src="/images/integrations/apps/max-jitter.png" alt="Max logo" /> Max / Jitter</a></li>
        <li><a href=" https://github.com/danzeeeman/ofxVVISF" title="" target="_blank"><img src="/images/integrations/apps/openframeworks.svg" alt="OpenFrameworks logo" /> ofxVVISF</a></li>
        <li><a href="https://github.com/satoruhiga/ofxISF" title="" target="_blank"><img src="/images/integrations/apps/openframeworks.svg" alt="OpenFrameworks logo" /> ofxisf*</a></li>
        <li><a href="https://github.com/zealtv/TouchDesigner-ISF-parser" title="" target="_blank"><img src="/images/integrations/apps/touchdesigner.png" alt="Touch Designer logo" /> Touch Designer*</a></li>
    </ul>
    <p>* These add ons have only partial support for the ISF specification. Check their documentation for specific notes.</p>
    
    <h3>Standard Shaders</h3>
    <p>Along with code for working with ISF shaders developers may want to visit the ISF Files repository which contains over 300 open source generators, FX and transitions that can be bundled as a standard set along with applications. These shaders are already included as examples as part of the <a href="https://isf.vidvox.net/desktop-editor/">desktop ISF Editor tool</a>, but can also be found online here…</p>
    <ul>
        <li><a href="https://github.com/vidvox/ISF-FILES" title="" target="_blank"><img src="/images/integrations/apps/isf-fxplug.png" alt="ISF logo" /> Standard ISF Shaders</a></li>
        <li><a href="http://vidvox.net/rays_oddsnends/ISF%20tests+tutorials.zip" title="" target="_blank"><img src="/images/integrations/apps/isf-fxplug.png" alt="ISF logo" /> ISF Test and Tutorial Shaders</a></li>
    </ul>    
</div>

<%- include('partials/footer'); %>
<%- include('partials/doc_bottom'); %>
