<% page_name = 'developers' %>

<%- include('partials/doc_top'); %>
<%- include('partials/nav'); %>

<header class="cool-header">
    <h1>Developers</h1>
    <span class="subheading">Supporting HAP in your applications</span>
</header>

<div id="creative-coding" class="centered-block">
    <h2>Information for Developers</h2>
    <p>Below you can find information to help add support for HAP into your own software. For more information you can also visit the HAP project page on <a href="https://github.com/Vidvox/hap" target="_blank">GitHub</a>.</p>
    <h3>Creative Coding Environments</h3>
    <p>The following addons enable HAP support in popular creative coding environments:</p>
    <div class="environments">
      <a href="https://github.com/bangnoise/ofxHapPlayer" target="_blank">
        <img src="images/integrations/apps/openframeworks.svg" alt="OpenFrameworks via ofxHapPlayer logo" width="110"/>
        <strong>OF</strong>
      </a>
      <a href="https://github.com/lov/CoGeHapPlayer" target="_blank">
        <img src="images/integrations/apps/quartz-composer.png" alt="Quartz Composer via CoGeHapPlayer logo" width="73" />
        <strong>Quartz Composer</strong>
      </a>
      <a href="https://cycling74.com/forums/announcing-hap-video-engine/" target="_blank">
        <img src="images/integrations/apps/max.png" alt="Max via Hap Video Engine or jit.gl.hap logo" width="74" />
        <strong>Max</strong>
      </a>
      <a href="https://github.com/rsodre/Cinder-Hap" target="_blank">
        <img src="images/integrations/apps/cinder.png" alt="Cinder via Cinder-Hap logo" width="82" />
        <strong>Cinder</strong>
      </a>
      <a href="https://www.assetstore.unity3d.com/en/#!/content/56355" target="_blank">
        <img src="images/integrations/apps/unity.svg" alt="Unity via AV PRO QUICKTIME logo" width="84" />
        <strong>Unity (AV Pro)</strong>
      </a>
      <a href="https://www.assetstore.unity3d.com/en/#!/content/78908" target="_blank">
        <img src="images/integrations/apps/unity.svg" alt="Unity via AV PRO QUICKTIME logo" width="84" />
        <strong>Unity (Demolition Media)</strong>
      </a>
    </div>
    <br /><br />
    <h3>Custom Software</h3>
    <p>If you are already using <a href="http://github.com/Vidvox/hap-in-avfoundation" title="GitHub repository for the VIDVOX AVFoundation framework">AVFoundation</a>, <a href="https://ffmpeg.org/" title="FFmpeg website">FFmpeg</a>, LibAV, <a href="http://www.renderheads.com/portfolio/HapDirectShow/" title="HAP codec for DirectShow">DirectShow</a> or <a href="https://github.com/vidvox/hap-qt-codec/" title="HAP codec for QuickTime">QuickTime</a> for movie playback or encoding it is relatively easy to add native support for the Hap codecs to your own applications. The specification and reference implementation are in <a href="https://github.com/vidvox/hap">the official repository</a>.</p>
</div>

<section class="big-labels grey" id="playing-back" style="padding-bottom: 0;">
    <div>
        <h2>Playing back HAP within your application</h2>
        <img src="./images/developers/playing-back.png" alt="">
        <p><strong>The route you choose to achieve playback will depend on the platforms you target, and your existing codebase:</strong></p>
        <ul>
            <li>Use any general purpose demuxer and perform the decoding yourself — Using a demuxer such as libavformat from FFmpeg, acquire encoded frames from their container, then use the <a href="https://github.com/vidvox/hap">Hap reference decoder</a> to decode frames to their compressed texture formats.</li>
            <li>Use the HapInAVFoundation framework on macOS — <a href="https://github.com/Vidvox/hap-in-avfoundation" title="GitHub repository for the VIDVOX AVFoundation framework">HapInAVFoundation</a> supports demuxing and decoding of Hap on macOS. For legacy 32-bit applications there is sample code and a <a href="https://github.com/vidvox/hap-qt-codec/" title="HAP codec for QuickTime">codec installer</a> for working with HAP through QuickTime.</li>
            <li>Use the HapInAVFoundation framework on macOS — <a href="https://github.com/Vidvox/hap-in-avfoundation">HapInAVFoundation</a> supports demuxing and decoding of Hap on macOS.</li>
            <li>Use the DirectShow codec on Windows — Although it doesn't support Hap Q Alpha, the <a href="http://renderheads.com/product/hap-for-directshow/">Hap DirectShow codec</a> can decode to compressed texture formats when they are requested.</li>
        </ul>
    </div>
</section>

<div id="using-hap-instructions">
    <section style="padding-top: 80px;">
        <p style="margin-left: 4.0351%;margin-right: 4.0351%;"><strong>Hap applies a lightweight secondary compressor to standard compressed texture formats.</strong> Playback involves retreiving frames from the container (demuxing) and decompressing them to their compressed texture data (decoding), which is then presented directly to OpenGL or Direct3D.</p>
        <p style="margin-left: 4.0351%;margin-right: 4.0351%; padding-bottom: 40px;">Hap Q and Hap Q Alpha use a YCoCg colorspace and require a shader to perform colorspace conversion when drawn.</p>
        <div class="instructions-wrapper">
          <div class="instructions">
              <p>The following fragment shader performs YCoCg conversion and can be used for drawing Hap Q frames:</p>
              <script src="https://gist.github.com/jackturner/da2fcdebdc0880a40228aa846bf6b274.js"></script>
          </div>

          <div class="instructions">
              <p>The following fragment shader performs YCoCg conversion and combines the colour and alpha planes for Hap Q Alpha frames:</p>
              <script src="https://gist.github.com/jackturner/0ee5328924524bf0a3fe1200338bf46d.js"></script>
          </div>
        </section>
    </section>
</div>

<section class="big-labels">
    <div>
        <h2>Encoding HAP video within your application</h2>
        <p>For many applications, enabling playback is sufficient, and users can be directed to one of the available <a href="/how-to-use-hap-codecs.html">Hap codecs</a> to encode their media.</p>
        <p>If you want to perform encoding within your application, you must first of all encode your RGB(A) frames to the appropriate compressed texture format, and then encode that data to Hap frames.</p>
        <p>A number of libraries are available to perform texture compression.</p>
        <p>The following resources may help:</p>
        <ul>
            <li>The <a href="https://github.com/vidvox/hap">Hap reference encoder</a> encodes compressed texture data to Hap frames.</li>
            <li>On macOS <a href="https://github.com/Vidvox/hap-in-avfoundation">HapInAVFoundation</a> supports the full encoding process.</li>
            <li>The source for the <a href="https://github.com/Vidvox/hap-qt-codec">Hap QuickTime Codec</a>.</li>
        </ul>
        <h2>Further Information</h2>
        <p>If you have questions or problems, visit the <a href="https://github.com/vidvox/hap/issues">GitHub issues page</a>. The <a href="https://groups.google.com/forum/#!forum/hap-codec-list">Hap codecs email list</a> is used to make occasional announcements.</p>
    </div>
</section>


<%- include('partials/footer'); %>
<%- include('partials/doc_bottom'); %>
