<%- include('partials/doc_top'); %>
<%- include('partials/nav'); %>

<header class="cool-header">
    <h1>Developers</h1>
    <span class="subheading">Supporting HAP in your applications</span>
</header>

<div id="creative-coding">
    <h3>Creative Coding Environments</h3>
    <p>The following addons enable HAP support in popular creative coding environments:</p>
    <ul class="environments">
        <li><a href="" title="OpenFrameworks via ofxHapPlayer" target="_blank"><strong>OpenFrameworks via ofxHapPlayer</strong><img src="images/integrations/apps/openframeworks.svg" alt="OpenFrameworks via ofxHapPlayer logo" /></a></li>
        <li><a href="" title="Quartz Composer via CoGeHapPlayer" target="_blank"><strong>Quartz Composer via CoGeHapPlayer</strong><img src="images/integrations/apps/quartz-composer.png" alt="Quartz Composer via CoGeHapPlayer logo" /></a></li>
        <li><a href="" title="Max via Hap Video Engine or jit.gl.hap" target="_blank"><strong>Max via Hap Video Engine or jit.gl.hap</strong><img src="images/integrations/apps/max.png" alt="Max via Hap Video Engine or jit.gl.hap logo" /></a></li>
        <li><a href="" title="Cinder via Cinder-Hap" target="_blank"><strong>Cinder via Cinder-Hap</strong><img src="images/integrations/apps/cinder.png" alt="Cinder via Cinder-Hap logo" /></a></li>
        <li><a href="" title="Unity via AV PRO QUICKTIME" target="_blank"><strong>Unity via AV PRO QUICKTIME</strong><img src="images/integrations/apps/unity.svg" alt="Unity via AV PRO QUICKTIME logo" /></a></li>
    </ul>
    <br /><br />
    <h3>Custom Software</h3>
    <p>If you are already using AVFoundation, FFmpeg, LibAV, DirectShow or QuickTime for movie playback or encoding it is relatively easy to add native support for the Hap codecs to your own applications. The specification and reference implementation are in <a href="https://github.com/vidvox/hap">the official repository</a>.</p>
</div>



<%- include('partials/footer'); %>
<%- include('partials/doc_bottom'); %>