<% page_name = 'developers' %>

<%- include('partials/doc_top'); %>
<%- include('partials/nav'); %>

<header class="cool-header">
    <h1>Developers</h1>
    <span class="subheading">Supporting ISF in your applications</span>
</header>

<div id="creative-coding" class="centered-block">
    <h2>Information for Developers</h2>
    <p>Interactive Shader Format, or ISF for short, is an open specification that defines a standardized interface for creating GLSL shaders that can be used as generators, effects/filters, or transitions in host applications. This format was crated to provide a simple and lightweight format for effect authors that encourages ease of creation and rapid prototyping, while also having sufficiently predictable behavior that the format can be practically and usefully integrated with a wide variety of host applications across a wide variety of platforms.</p>
    <p>Developers who are interested in writing their own shaders can read more about the process on the <a href="/using-isf/" %> title="">Using ISF</a> page and the <a href="https://docs.isf.video" %> title="">ISF Documentation</a> pages.</p>
    <p>Developers who are interested in adding support for ISF shaders in their host applications can find more information in the sections below, as well as on the full <a href="https://github.com/mrRay/ISF_Spec/" %> title="">ISF Specification</a> page.</p>

    <h3>Official Frameworks</h3>
    <ul>
        <li><a href="https://github.com/mrRay/vvopensource" title="" target="_blank"><img src="/images/integrations/apps/isf-fxplug.png" alt="ISF logo" /> Objective-C (Mac, iOS)</a></li>
        <li><a href="https://github.com/mrRay/vvisf-gl" title="" target="_blank"><img src="/images/integrations/apps/isf-fxplug.png" alt="ISF logo" /> C++ (Mac, Win, Linux, iOS)</a></li>
        <li><a href="https://github.com/msfeldstein/interactive-shader-format-js" title="" target="_blank"><img src="/images/integrations/apps/isf-fxplug.png" alt="ISF logo" /> JavaScript (Web)</a></li>
    </ul>

    <h3>Examples</h3>
    <p>The free ISF Editor tool is itself an open source application and can serve as a good example for running ISF on desktop platforms. It comes it two varieties…</p>
    <ul>
        <li><a href="https://github.com/mrRay/vvopensource" title="" target="_blank"><img src="/images/integrations/apps/isf-fxplug.png" alt="ISF logo" /> Cocoa / Objective-C Editor</a></li>
        <li><a href="https://github.com/mrRay/vvisf-gl" title="" target="_blank"><img src="/images/integrations/apps/isf-fxplug.png" alt="ISF logo" /> C++ / qt Editor</a></li>
    </ul>

    <p>A demonstration of using an ISF shader with Canvas in javascript can be found in this example <a href="https://glitch.com/~isf-example" target="_blank">on Glitch here</a>.</p>

    <h3>Creative Coding</h3>
    <p>The following addons enable ISF support in popular creative coding environments…</p>
    <ul>
        <li><a href="https://github.com/zealtv/TouchDesigner-ISF-parser" title="" target="_blank"><img src="/images/integrations/apps/isf-fxplug.png" alt="ISF logo" /> Touch Designer*</a></li>
        <li><a href="https://github.com/satoruhiga/ofxISF" title="" target="_blank"><img src="/images/integrations/apps/isf-fxplug.png" alt="ISF logo" /> ofxisf*</a></li>
    </ul>
    <p>* These add ons have only partial support for the ISF specification. Check their documentation for specific notes.</p>
</div>

<%- include('partials/footer'); %>
<%- include('partials/doc_bottom'); %>
