<% page_name = 'examples' %>

<%- include('partials/doc_top'); %>
<%- include('partials/nav'); %>

<header class="cool-header">
    <h1>Examples of ISF in use</h1>
    <span class="subheading">Projects powered by ISF</span>
</header>

<div class="cta-bar">
    <div class="subheading">Want to be featued on this page?</div>
    <a href="mailto:isf@vidvox.net?subject=Example Project Submission">Submit Your Project<svg width="25" enable-background="new 0 0 25 8" viewBox="0 0 25 8" xmlns="http://www.w3.org/2000/svg"><path d="m25 4-7.3 4v-3.3h-17.7v-1.4h17.7l.1-3.3z" fill="currentColor"/></svg></a>
</div>

<div id="examples">

    <div class="example">
        <a class="example-main-link" href="https://github.com/JosephFiola/SaturdayShaders" title="" target="_blank">
            <span>VJ Zef’s Saturday Shaders</span>
            <img src="/images/examples/zef.jpg" alt="" />
        </a>
        <p>Reiciendis quam debitis iusto et nobis libero aliquid accusamus asperiores eum, ducimus similique harum facere cupiditate fuga amet commodi quaerat ratione quia!</p>
    </div>

    <div class="example">
        <a class="example-main-link" href="https://vdmx.vidvox.net/blog/isf-from-silvia-fabiani" title="" target="_blank">
            <span>Silvia Fabiani</span>
            <img src="/images/examples/fabiani.jpg" alt="" />
        </a>
        <p>Reiciendis quam debitis iusto et nobis libero aliquid accusamus asperiores eum, ducimus similique harum facere cupiditate fuga amet commodi quaerat ratione quia!</p>
    </div>

    <div class="example">
        <a class="example-main-link" href="https://discourse.vidvox.net/t/isf-shapemaker-tutorial-series/633" title="" target="_blank">
            <span>Colin_movecraft</span>
            <img src="/images/placekittens/03.jpg" alt="" />
        </a>
        <p>Reiciendis quam debitis iusto et nobis libero aliquid accusamus asperiores eum, ducimus similique harum facere cupiditate fuga amet commodi quaerat ratione quia!</p>
    </div>

    <div class="example">
        <a class="example-main-link" href="" title="" target="_blank">
            <span>Lorem ipsum dolor sit amet</span>
            <img src="/images/placekittens/02.jpg" alt="" />
        </a>
        <p>Reiciendis quam debitis iusto et nobis libero aliquid accusamus asperiores eum, ducimus similique harum facere cupiditate fuga amet commodi quaerat ratione quia!</p>
    </div>

</div>

<%- include('partials/footer'); %>
<%- include('partials/doc_bottom'); %>
