<% page_name = 'examples' %>

<%- include('partials/doc_top'); %>
<%- include('partials/nav'); %>

<header class="cool-header">
    <h1>Examples of ISF in use</h1>
    <span class="subheading">Projects powered by ISF</span>
</header>

<div id="showcase-cta" class="cta-bar">
    <div class="subheading">Want to be featued on this page?</div>
    <a href="mailto:isf@vidvox.net?subject=Example Project Submission">Submit Your Project<img alt="Arrow pointing right" src="./images/right-arrow.svg" width="25" /></a>
</div>

<div id="examples">

    <div class="example">
        <a class="example-main-link" href="https://github.com/JosephFiola/SaturdayShaders" title="">
            <span>VJ Zef’s Saturday Shaders</span>
            <img src="/images/placekittens/01.jpg" alt="" />
        </a>
        <p>Reiciendis quam debitis iusto et nobis libero aliquid accusamus asperiores eum, ducimus similique harum facere cupiditate fuga amet commodi quaerat ratione quia!</p>
    </div>

    <div class="example">
        <a class="example-main-link" href="https://vdmx.vidvox.net/blog/isf-from-silvia-fabiani" title="">
            <span>Silvia Fabiani</span>
            <img src="/images/placekittens/04.jpg" alt="" />
        </a>
        <p>Reiciendis quam debitis iusto et nobis libero aliquid accusamus asperiores eum, ducimus similique harum facere cupiditate fuga amet commodi quaerat ratione quia!</p>
    </div>

    <div class="example">
        <a class="example-main-link" href="https://discourse.vidvox.net/t/isf-shapemaker-tutorial-series/633" title="">
            <span>Colin_movecraft</span>
            <img src="/images/placekittens/03.jpg" alt="" />
        </a>
        <p>Reiciendis quam debitis iusto et nobis libero aliquid accusamus asperiores eum, ducimus similique harum facere cupiditate fuga amet commodi quaerat ratione quia!</p>
    </div>

    <div class="example">
        <a class="example-main-link" href="" title="">
            <span>Lorem ipsum dolor sit amet</span>
            <img src="/images/placekittens/02.jpg" alt="" />
        </a>
        <p>Reiciendis quam debitis iusto et nobis libero aliquid accusamus asperiores eum, ducimus similique harum facere cupiditate fuga amet commodi quaerat ratione quia!</p>
    </div>

</div>

<%- include('partials/footer'); %>
<%- include('partials/doc_bottom'); %>
