<% page_name = 'examples' %>

<%- include('partials/doc_top'); %>
<%- include('partials/nav'); %>

<header class="cool-header">
    <h1>Examples of ISF in use</h1>
    <span class="subheading">Projects powered by ISF</span>
</header>

<div class="cta-bar">
    <div class="subheading">Want to be featued on this page?</div>
    <a href="mailto:isf@vidvox.net?subject=Example Project Submission">Submit Your Project<svg width="25" enable-background="new 0 0 25 8" viewBox="0 0 25 8" xmlns="http://www.w3.org/2000/svg"><path d="m25 4-7.3 4v-3.3h-17.7v-1.4h17.7l.1-3.3z" fill="currentColor"/></svg></a>
</div>

<div id="examples">

    <div class="example">
        <a class="example-main-link" href="https://github.com/JosephFiola/SaturdayShaders" title="" target="_blank">
            <span>VJ Zef / Saturday Shaders</span>
            <img src="/images/examples/zef.jpg" alt="" />
        </a>
        <p>”I started Saturday Shaders as a way for me to combine learning how to code shaders with quickly outputting something visual to share. I opted for a weekly schedule as opposed to everydays to make the learning process seem less daunting, yet regular enough to feel the progression from one week to the next.”</p>
    </div>
    
    <div class="example">
        <a class="example-main-link" href="https://vdmx.vidvox.net/blog/pixel-spirit-deck-table" title="" target="_blank">
            <span>Colin_movecraft / Pixel Spirit Deck Translations</span>
            <img src="/images/examples/pixel-spirit-deck-03.jpg" alt="" />
        </a>
        <p>The <a href="https://patriciogonzalezvivo.github.io/PixelSpiritDeck/">Pixel Spirt Deck</a> by Patricio Gonzalez-Vivo is an amazing set of open source tarot cards where each visual element is displayed together with the GLSL shader code that generates it. In this example Colin_movecraft creates interactive versions for use in live performance.</p>
    </div>
    
    <div class="example">
        <a class="example-main-link" href="https://www.interactiveshaderformat.com/u/vidvox" title="" target="_blank">
            <span>VIDVOX / Standard Shaders</span>
            <img src="/images/examples/standard-shaders.jpg" alt="" />
        </a>
        <p>The VIDVOX standard shaders are designed to be a baseline of common generators and FX that other developers can bundle with their own softwares. They are also great starting points for learning the basics of image processing with GLSL and creating more advanced versions. This collection can also be found in the <a href="https://github.com/Vidvox/ISF-Files">ISF Files GitHub Repository</a>.</p>
    </div>

    <div class="example">
        <a class="example-main-link" href="https://vdmx.vidvox.net/blog/isf-from-silvia-fabiani" title="" target="_blank">
            <span>Silvia Fabiani</span>
            <img src="/images/examples/fabiani.jpg" alt="" />
        </a>
        <p>In this interview artist Silvia Fabiani discusses creating animated images for dance performances, theater shows and live concerts, and how she went from using pre-recorded materials to live generative creations made with GLSL.</p>
    </div>

    <div class="example">
        <a class="example-main-link" href="http://www.movecraft.com/the-book-of-shaders-ifsvdmx-translation/" title="" target="_blank">
            <span>Colin_movecraft / Book of Shaders Translations</span>
            <img src="/images/examples/book-of-shaders.jpg" alt="" />
        </a>
        <p>One of the best resources for learning to write GLSL shaders is of course <a href="https://thebookofshaders.com/">The Book of Shaders</a> by Patricio Gonzalez-Vivo. As part of learning how to write shaders himself, Colin_movecraft recreated many of the examples in the ISF format and shared them for others to use as a resource.</p>
    </div>
    
    <div class="example">
        <a class="example-main-link" href="https://discourse.vidvox.net/t/isf-shapemaker-tutorial-series/633" title="" target="_blank">
            <span>Colin_movecraft / Shapemaker</span>
            <img src="/images/examples/shapemaker.jpg" alt="" />
        </a>
        <p>Another fantastic tutorial series that explores ways to expressively visualize music using combinations of shapes and colors generated with GLSL. This set of lessons is great both for new coders looking for a fun way to get started making their own visuals and pros in search of inspiration for their next creations.</p>
    </div>
    
    <div class="example">
        <a class="example-main-link" href="https://vdmx.vidvox.net/blog/mvt-xix-meta-7" title="" target="_blank">
            <span>Meta-7 / Mojo Video Tech</span>
            <img src="/images/examples/meta-7.jpg" alt="" />
        </a>
        <p>“All the video content is code, so the original idea was to create an entirely generative piece. The narrative structure of the show is a guided meditation where we have a solid color background layer which progresses though the color spectrum.”</p>
    </div>
    
    <div class="example">
        <a class="example-main-link" href="https://vimeo.com/336601922" title="" target="_blank">
            <span>EboMan / A/V Jam</span>
            <img src="/images/examples/ebosuitejam.jpg" alt="" />
        </a>
        <p>EboMan shows off the power of using audio FX alongside ISF shaders and MIDI control in Ableton Live with EboSuite in this fun audio /visual jam session.</p>
    </div>

    <div class="example">
        <a class="example-main-link" href="https://cycling74.com/tutorials/creating-videosync-plug-ins-in-max-for-live-ableton-live" title="" target="_blank">
            <span>Gregory Taylor / Videosync Plug-Ins in Max4Live</span>
            <img src="/images/examples/videosync-flowcontrol.jpg" alt="" />
        </a>
        <p>“Videosync plug-ins look and act just like the Max for Live devices that you already know, with the difference being that they’re video devices.”</p>
    </div>


</div>

<%- include('partials/footer'); %>
<%- include('partials/doc_bottom'); %>
