<% page_name = 'exampls' %>

<%- include('partials/doc_top'); %>
<%- include('partials/nav'); %>

<header class="cool-header">
    <h1>Examples of ISF in use</h1>
    <span class="subheading">Projects powered by ISF</span>
</header>

<div id="showcase-cta" class="cta-bar">
    <div class="subheading">Want to be featued on this page?</div>
    <a href="mailto:hap@vidvox.net?subject=HAP Showcase Submission">Submit Your Project<img alt="Arrow pointing right" src="./images/right-arrow.svg" width="25" /></a>
</div>

<div id="examples">

    <div class="example">
        <a class="example-main-link" href="" title="">
            <span>Lorem ipsum dolor sit amet</span>
            <img src="./images/placekittens/01.jpg" alt="" />
        </a>
        <p>Reiciendis quam debitis iusto et nobis libero aliquid accusamus asperiores eum, ducimus similique harum facere cupiditate fuga amet commodi quaerat ratione quia!</p>
    </div>

    <div class="example">
        <a class="example-main-link" href="" title="">
            <span>Lorem ipsum dolor sit amet</span>
            <img src="./images/placekittens/04.jpg" alt="" />
        </a>
        <p>Reiciendis quam debitis iusto et nobis libero aliquid accusamus asperiores eum, ducimus similique harum facere cupiditate fuga amet commodi quaerat ratione quia!</p>
    </div>

    <div class="example">
        <a class="example-main-link" href="" title="">
            <span>Lorem ipsum dolor sit amet</span>
            <img src="./images/placekittens/03.jpg" alt="" />
        </a>
        <p>Reiciendis quam debitis iusto et nobis libero aliquid accusamus asperiores eum, ducimus similique harum facere cupiditate fuga amet commodi quaerat ratione quia!</p>
    </div>

    <div class="example">
        <a class="example-main-link" href="" title="">
            <span>Lorem ipsum dolor sit amet</span>
            <img src="./images/placekittens/02.jpg" alt="" />
        </a>
        <p>Reiciendis quam debitis iusto et nobis libero aliquid accusamus asperiores eum, ducimus similique harum facere cupiditate fuga amet commodi quaerat ratione quia!</p>
    </div>

    <!-- 
    <section id="saturdayshaders">
        <img src="./images/showcase/mopop.jpg" alt="" />
        <div class="description">
            <p>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Est tenetur tempore inventore officia doloribus ipsam eaque maxime veniam voluptate, adipisci ut autem ipsa voluptates pariatur ab magni? Aut, minima aperiam!”</p>
            <a class="project-link" href="https://github.com/JosephFiola/SaturdayShaders">See Project →</a>
        </div>
        <header>
            <h2>VJ Zef’s Saturday Shaders</h2>
            <span class="subheading"><a class="project-link" href="https://vidvox.net">VDMX</a></span>
        </header>
    </section>

    <section id="saturdayshaders">
        <img src="./images/showcase/mopop.jpg" alt="" />
        <div class="description">
            <p>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Est tenetur tempore inventore officia doloribus ipsam eaque maxime veniam voluptate, adipisci ut autem ipsa voluptates pariatur ab magni? Aut, minima aperiam!”</p>
            <a class="project-link" href="https://vdmx.vidvox.net/blog/isf-from-silvia-fabiani">See Project →</a>
        </div>
        <header>
            <h2>Silvia Fabiani</h2>
            <span class="subheading"><a class="project-link" href="http://www.millumin.com">Millumin</a></span>
        </header>
    </section>

    <section id="saturdayshaders">
        <img src="./images/showcase/mopop.jpg" alt="" />
        <div class="description">
            <p>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Est tenetur tempore inventore officia doloribus ipsam eaque maxime veniam voluptate, adipisci ut autem ipsa voluptates pariatur ab magni? Aut, minima aperiam!”</p>
            <a class="project-link" href="https://discourse.vidvox.net/t/isf-shapemaker-tutorial-series/633">See Project →</a>
        </div>
        <header>
            <h2>Colin_movecraft</h2>
            <span class="subheading"><a class="project-link" href="https://vidvox.net">VDMX</a></span>
        </header>
    </section>
    -->

</div>

<%- include('partials/footer'); %>
<%- include('partials/doc_bottom'); %>
