<% page_name = 'index' %>

<%- include('partials/doc_top'); %>
<%- include('partials/nav'); %>

<section class="two-column">
  <div>
    <img src="/images/home/logo-collage-03.png" alt="" height="266" />
  </div>
  <div class="text">
    <h2>ISF for crossplatform interactive GLSL shaders.</h2>
    <p>ISF is designed to provide a simple, reusable and open format for creating efficient hardware-accelerated interactive resources for media servers, VJ software, non-linear editors, creative coding environments, and any place where you want some gorgeous eye-candy.</p>
    <p>ISF is short for "Interactive Shader Format", and is a simple file format that combines a GLSL shader with metadata that describes how to execute and interact with it.  This creates a simple, minimal interface for interacting with the shader that can be shared and reused immediately across any host that supports ISF.</p>
    <p><em><a href="https://github.com/mrRay/ISFMSLKit">Now updated for Metal on macOS!</a></em></p>
  </div>
</section>

<section class="info-blocks">

  <div>
    <img src="/images/home/glyph-modules.svg" />
    <h2>Modules, Not Programs</h2>
    <p>The ISF spec is designed to encourage creation of small, reusable shaders instead of purpose-specific programs that require painstaking synchronization of shader and backend code.  ISF includes features like multi-pass rendering, persistent buffers, and floating-point intermediate or output formats, making it possible to create complex compound compositions, filters, and transitions with a single portable document.</p>
    <p><a href="https://docs.isf.video/ref_index.html">ISF documentation...</a></p>
  </div>

  <div>
    <img src="/images/home/glyph-remix.svg" />
    <h2>Write Once, Use Widely, Remix Freely</h2>
    <p>Usage of ISF is already supported natively or by 3rd party plugins in nearly a dozen of the most popular media servers, real-time video applications, and creative coding environments, making it easy to switch tools without having to rewrite your shaders. Shaders can be created, modified and remixed using any standard text editor, or with the free ISF Editor tools.</p>
    <p><a href="https://isf.video/integrations/">Supported software...</a></p>
  </div>

  <div>
    <img src="/images/home/glyph-standard.svg" />
    <h2>Standard Shaders</h2>
    <p>Along with the ISF specification itself, there are hundreds of 100% free and totally open source shaders available as part of this project. This includes a collection of over 200 standard color adjustment, blurs, distortion, geometry and stylizing shaders to get started with out of the box, or use as starting points for your own creations.</p>
    <p><a href="https://www.interactiveshaderformat.com/">Try online...</a></p>
  </div>

</section>

<section class="parallax-container">
  <img src="/images/home/wide-image-02.jpg" alt="" width="100%" />
  <a class="caption" href="https://www.silviafabiani.com/dedoublement" target="_blank">
    <span>Dédoublement</span>
    <span>Cie CoBalt</span>
    <span>Mapping: Silvia Fabiani</span>
  </a>
</section>

<section class="big-labels">

  <div>
    <h2>The ISF specification, codebase and shaders are open-source, licensed under the MIT License.</h2>
    <p><strong>Everyone can use it for commercial or noncommercial applications completely free of charge.</strong></p>
    <p>This project was originally written by, and continues to be maintained by <a href="http://vidvox.net" target="_blank">VIDVOX</a> with the help of other developers and collaborators.</p>
    <p>We have found that open source code and open standards are especially important for creative communities such as ours where interoperability between tools is often crucial for artists to achieve their visions. We encourage other developers of creative technology and artists themselves to share their low-level knowledge and support the adoption of open standards in their work.</p>
  </div>

  <div>
    <h2>How do I add support for ISF to my software?</h2>
    <p>If you are already using OpenGL, WebGL, or Metal for video processing it is relatively easy to add native support for the ISF shader spec to your own applications. Check out <a href="/developers/">our developers page</a> for instructions, sample code and other useful links to get started.</p>
  </div>

</section>

<%- include('partials/footer'); %>
<%- include('partials/doc_bottom'); %>
