<% page_name = 'index' %>

<%- include('partials/doc_top'); %>
<%- include('partials/nav'); %>

<section class="two-column">
  <div>
    <img src="images/home/logo-collage-03.png" alt="" height="266" />
  </div>
  <div class="text">
    <h2>ISF is for visual artists, digital signage, event production and creative coders.</h2>
    <p>Regardless of the specific field, modern visual artists need to use interactive generators, FX and transition in lots of different tools during the creative process. Nobody wants to be locked into a single platform and having to rewrite code to lots of different proprietary formats is often confusing and time consuming. ISF addresses this problem by providing a free open source baseline standard for working with GLSL that is designed to provide a single efficient hardware accelerated playback video format that can be used with popular media servers, VJ software, non-linear editors and creative coding environments.</p>
  </div>
</section>

<section class="info-blocks">

  <div>
    <h2>Modules, Not Engines</h2>
    <p>The ISF Specification is designed to promote creation of small re-usable shader code with the intention of using them as pieces of larger compositions within different host software as generators, effects and transitions with custom parameters for control. ISF includes features like multi-pass shaders with persistent buffers making it possible to create complex compound compositions and filters within a single portable document.</p>
  </div>

  <div>
    <h2>Write Once, Use Widely, Remix Freely</h2>
    <p>Usage of ISF is already supported natively or by 3rd party plugins in nearly a dozen of the most popular media servers, real-time video applications, and creative coding environments, making it easy to switch tools without having to rewrite your shaders. Shaders can be created, modified and remixed using any standard text editor, or with the free ISF Editor tools.</p>
  </div>

  <div>
    <h2>Standard Shaders</h2>
    <p>Along with the ISF specification itself, there are hundreds of 100% free and totally open source shaders available as part of this project. This includes a collection of over 200 standard color adjustment, blurs, distortion, geometry and stylizing shaders to get started with out of the box, or use as starting points for your own creations.</p>
  </div>

</section>

<section class="parallax-container">
  <img src="images/home/wide-image.jpg" alt="" width="100%" />
</section>

<section class="big-labels">

  <div>
    <h2>The ISF specification, codebase and shaders are open-source, licensed under the MIT License.</h2>
    <p><strong>Everyone can use it for commercial or noncommercial applications completely free of charge.</strong></p>
    <p>This project was originally written by, and continues to be maintained by <a href="http://vidvox.net" target="_blank">VIDVOX</a> with the help of other developers and collaborators.</p>
    <p>We have found that open source code and open standards are especially important for creative communities such as ours where interoperability between tools is often crucial for artists to achieve their visions. We encourage other developers of creative technology and artists themselves to share their low-level knowledge and support the adoption of open standards in their work.</p>
  </div>

  <div>
    <h2>How do I add support for ISF to my software?</h2>
    <p>If you are already using OpenGL or WebGL for video processing it is relatively easy to add native support for the ISF shader spec to your own applications. Check out <a href="./developers.html">our developers page</a> for instructions, sample code and other useful links to get started.</p>
  </div>

</section>

<%- include('partials/footer'); %>
<%- include('partials/doc_bottom'); %>
