<% page_name = 'integrations' %>

<%- include('partials/doc_top'); %>
<%- include('partials/nav'); %>

<header class="cool-header">
  <h1>Integrations</h1>
  <span class="subheading">Hardware and Software tools that support HAP</span>
</header>

<section class="integrations">  
  <header>
    <a name="videoapps" href="#videoapps"><h2>Video apps</h2></a>
    <span class="subheading">Software that supports HAP</span>
  </header>
  <ul>
    <li><a href="http://www.blendyvj.com/" title="Blendy VJ" target="_blank"><span>Blendy VJ</span><img src="images/integrations/apps/blendy-vj.png" alt="Blendy VJ logo" /></a></li>
    <li><a href="http://cogevj.hu/" title="CoGe" target="_blank"><span>CoGe</span><img src="images/integrations/apps/coge.png" alt="CoGe logo" /></a></li>
    <li><a href="http://vj-dj.arkaos.net/grandvj/about" title="GrandVJ" target="_blank"><span>GrandVJ</span><img src="images/integrations/apps/grandvj.png" alt="GrandVJ logo" /></a></li>
    <li><a href="http://krakenvj.com/" title="Kraken2" target="_blank"><span>Kraken2</span><img src="images/integrations/apps/kraken2.png" alt="Kraken2 logo" /></a></li>
    <li><a href="http://www.madmapper.com/" title="MadMapper" target="_blank"><span>MadMapper</span><img src="images/integrations/apps/madmapper.png" alt="MadMapper logo" /></a></li>
    <li><a href="http://www.millumin.com/" title="Millumin" target="_blank"><span>Millumin</span><img src="images/integrations/apps/millumin.png" alt="Millumin logo" /></a></li>
    <li><a href="http://imimot.com/mitti/" title="Mitti" target="_blank"><span>Mitti</span><img src="images/integrations/apps/mitti.png" alt="Mitti logo" /></a></li>
    <li><a href="http://www.inklen.com/mixemergency/" title="MixEmergency" target="_blank"><span>MixEmergency</span><img src="images/integrations/apps/mixemergency.png" alt="MixEmergency logo" /></a></li>
    <li><a href="http://www.garagecube.com/" title="modul8" target="_blank"><span>modul8</span><img src="images/integrations/apps/modul8.png" alt="modul8 logo" /></a></li>
    <li><a href="http://www.modulo-pi.com/" title="Modulo Player" target="_blank"><span>Modulo Player</span><img src="images/integrations/apps/modulo-player.png" alt="Modulo Player logo" /></a></li>
    <li><a href="http://notch.one//" title="Notch" target="_blank"><span>Notch</span><img src="images/integrations/apps/notch.png" alt="Notch logo" /></a></li>
    <li><a href="http://www.bigfug.com/software/painting-with-light/" title="Painting With Light" target="_blank"><span>Painting With Light</span><img src="images/integrations/apps/painting-with-light.jpg" alt="Painting With Light logo" /></a></li>
    <li><a href="http://figure53.com/" title="QLab" target="_blank"><span>QLab</span><img src="images/integrations/apps/QLab.png" alt="QLab logo" /></a></li>
    <li><a href="http://smode.fr/" title="Smode" target="_blank"><span>Smode</span><img src="images/integrations/apps/smode.png" alt="Smode logo" /></a></li>
    <li><a href="http://www.derivative.ca/" title="TouchDesigner" target="_blank"><span>TouchDesigner</span><img src="images/integrations/apps/touchdesigner.png" alt="TouchDesigner logo" /></a></li>
    <li><a href="http://www.vidvox.net/" title="VDMX" target="_blank"><span>VDMX</span><img src="images/integrations/apps/vdmx.png" alt="VDMX logo" /></a></li>
    <li><a href="http://www.ventuz.com/" title="Ventuz" target="_blank"><span>Ventuz</span><img src="images/integrations/apps/ventuz.png" alt="Ventuz logo" /></a></li>
    <li><a href="http://hcgilje.wordpress.com/vpt/" title="VPT 7" target="_blank"><span>VPT 7</span><img src="images/integrations/apps/vpt-7.png" alt="VPT 7 logo" /></a></li>
    <li><a href="http://www.videolan.org/vlc/index.html" title="VLC" target="_blank"><span>VLC</span><img src="images/integrations/apps/VLC.png" alt="VLC logo" /></a></li>
  </ul>
</section>

<section class="integrations">  
  <header>
    <a name="mediaservers" href="#mediaservers"><h2>Media servers</h2></a>
    <span class="subheading">Media servers that support HAP</span>
  </header>
  <ul>
    <li><a href="http://www.coolux.de/" title="Coolux Pandoras Box" target="_blank"><span>Coolux Pandoras Box</span><img src="images/integrations/apps/coolux.jpg" alt="Coolux logo" /></a></li>
    <li><a href="http://www.disguise.one/" title="Disguise" target="_blank"><span>disguise Media Servers</span><img src="images/integrations/apps/Disguise.jpg" alt="Disguise logo" /></a></li>
    <li><a href="http://www.dataton.com/products/watchout" title="Dataton Watchout" target="_blank"><span>Dataton Watchout</span><img src="images/integrations/apps/dataton-watchout.svg" alt="Dataton Watchout logo" /></a></li>
    <li><a href="http://lightact-systems.com/" title="Lightact" target="_blank"><span>Lightact</span><img src="images/integrations/apps/lightact.png" alt="Lightact logo" /></a></li>
    <li><a href="http://www.malighting.com/en/products/video.html" title="grandMA2" target="_blank"><span>grandMA2</span><img src="images/integrations/apps/malighting.png" alt="MA Lighting logo" /></a></li>
    <li><a href="http://www.green-hippo.com/" title="Green Hippo" target="_blank"><span>Green Hippo</span><img src="images/integrations/apps/greenhippo.png" alt="Green Hippo logo" /></a></li>
  </ul>
</section>

<section class="integrations">
  <header>
    <a name="creativecode" href="#creativecode"><h2>Creative coding</h2></a>
    <span class="subheading">Creative code environments and related plugins that support HAP</span>
  </header>
  <ul>
    <li><a href="http://github.com/rsodre/Cinder-Hap" title="Cinder via Cinder-Hap (QuickTime)" target="_blank"><span>Cinder: Cinder-Hap (QuickTime)</span><img src="images/integrations/apps/cinder.png" alt="Cinder via Cinder-Hap logo" /></a></li>
    <li><a href="http://github.com/lightact/HAP-Cinder" title="Cinder via HAP-Cinder (Direct Show)" target="_blank"><span>Cinder: HAP-Cinder (Direct Show)</span><img src="images/integrations/apps/cinder.png" alt="Cinder via Cinder-Hap logo" /></a></li>
    <li><a href="http://www.bigfug.com/software/fugio/" title="Fugio" target="_blank"><span>Fugio</span><img src="images/integrations/apps/fugio.png" alt="Fugio logo" /></a></li>
    <li><a href="http://troikatronix.com/" title="Isadora" target="_blank"><span>Isadora</span><img src="images/integrations/apps/isadora.png" alt="Isadora logo" /></a></li>
    <li><a href="http://cycling74.com/forums/announcing-hap-video-engine/" title="Max via Hap Video Engine" target="_blank"><span>Max: Hap Video Engine</span><img src="images/integrations/apps/max.png" alt="Max via Hap Video Engine or jit.gl.hap logo" /></a></li>
    <li><a href="http://github.com/bangnoise/ofxHapPlayer" title="OpenFrameworks via ofxHapPlayer" target="_blank"><span>OpenFrameworks: ofxHapPlayer</span><img src="images/integrations/apps/openframeworks.svg" alt="OpenFrameworks via ofxHapPlayer logo" /></a></li>
    <li><a href="http://github.com/secondstory/ofxDSHapVideoPlayer" title="OpenFrameworks via ofxDSHapVideoPlayer" target="_blank"><span>OpenFrameworks: ofxDSHapVideoPlayer</span><img src="images/integrations/apps/openframeworks.svg" alt="OpenFrameworks via ofxHapPlayer logo" /></a></li>
    <li><a href="http://github.com/lov/CoGeHapPlayer" title="Quartz Composer via CoGeHapPlayer" target="_blank"><span>Quartz Composer: CoGeHapPlayer</span><img src="images/integrations/apps/quartz-composer.png" alt="Quartz Composer via CoGeHapPlayer logo" /></a></li>
    <li><a href="http://www.assetstore.unity3d.com/en/#!/content/56355" title="Unity via AV PRO" target="_blank"><span>Unity: AV PRO</span><img src="images/integrations/apps/unity.svg" alt="Unity via AV PRO logo" /></a></li>
    <li><a href="http://www.assetstore.unity3d.com/en/#!/content/78908" title="Unity via Demolition Media" target="_blank"><span>Unity: Demolition Media</span><img src="images/integrations/apps/unity.svg" alt="Unity via Demolition Media logo" /></a></li>
    <li><a href="http://vuo.org/" title="Vuo" target="_blank"><span>Vuo</span><img src="images/integrations/apps/vuo.png" alt="Vuo logo" /></a></li>
  </ul>
</section>

<section class="integrations">
  <header>
    <a name="encoding" href="#encoding"><h2>Media encoding</h2></a>
    <span class="subheading">Applications and related plugins that support HAP Encoding</span>
  </header>
  <ul>
    <li><a href="http://aescripts.com/aftercodecs/" title="AfterEffects via AfterCodecs" target="_blank"><span>AfterEffects via AfterCodecs</span><img src="images/integrations/apps/AfterCodecs.png" alt="AfterCodecs logo" /></a></li>
    <li><a href="http://github.com/Vidvox/hap-in-avfoundation/releases" title="AVF Batch Converter" target="_blank"><span>AVF Batch Converter</span><img src="images/integrations/apps/avf-batch-converter.svg" alt="AVF Batch Converter logo" /></a></li>
    <li><a href="http://ffmpeg.org/" title="FFMPEG" target="_blank"><span>FFMPEG</span><img src="images/integrations/apps/ffmpeg.svg" alt="FFMPEG logo" /></a></li>
    <li><a href="http://www.mplayerhq.hu/" title="MPlayer" target="_blank"><span>MPlayer</span><img src="images/integrations/apps/mplayer.svg" alt="MPlayer logo" /></a></li>
    <li><a href="http://smplayer.sourceforge.net/" title="SMPlayer" target="_blank"><span>SMPlayer</span><img src="images/integrations/apps/smplayer.svg" alt="SMPlayer logo" /></a></li>
  </ul>
</section>

<%- include('partials/footer'); %>
<%- include('partials/doc_bottom'); %>
