<% page_name = 'integrations' %>

<%- include('partials/doc_top'); %>
<%- include('partials/nav'); %>

<header class="cool-header">
  <h1>Integrations</h1>
  <span class="subheading">Hardware and Software tools that support ISF</span>
</header>

<section class="text">
  <p>ISF shaders themselves can be created and remixed using the online or desktop editor tools, or a standard text editor.</p>
  <p>The following software and environments support using ISF shaders as part of their rendering pipeline as generators, FX and transitions where appropriate.</p>
</section>

<!--
<li><a href="" title="" target="_blank"><img src="/images/integrations/apps/" alt=" logo" /> </a></li>
-->

<section class="integrations">  
  <header>
    <a name="videoapps" href="#videoapps"><h2>Video apps</h2></a>
    <span class="subheading">Software that supports ISF</span>
  </header>
  <ul>
    <li><a href="http://cogevj.hu/" title="CoGe" target="_blank"><img src="/images/integrations/apps/coge.png" alt="CoGe logo" /> CoGe*</a></li>
    <li><a href="http://www.ebosuite.com" title="EboSuite" target="_blank"><img src="/images/integrations/apps/EboSuite.png" alt="EboSuite logo" /> EboSuite</a></li>
    <li><a href="https://docs.vidvox.net/freebies_isf_editor.html" title="" target="_blank"><img src="/images/integrations/apps/isf-editor.png" alt="ISF logo" /> ISF Editor</a></li>
    <li><a href="http://www.madmapper.com/" title="MadMapper" target="_blank"><img src="/images/integrations/apps/madmapper.png" alt="MadMapper logo" /> MadMapper*</a></li>
    <li><a href="http://magicmusicvisuals.com/" title="Magic Music Visuals" target="_blank"><img src="/images/integrations/apps/magic_logo_512.png" alt="Magic Music Visuals logo" /> Magic Music Visuals</a></li>
    <li><a href="http://www.millumin.com/" title="Millumin" target="_blank"><img src="/images/integrations/apps/millumin.png" alt="Millumin logo" /> Millumin</a></li>
    <li><a href="http://www.modulo-pi.com/" title="Modulo Player" target="_blank"><img src="/images/integrations/apps/modulo-player.png" alt="Modulo Player logo" /> Modulo Player</a></li>
    <li><a href="https://isf.vidvox.net/isf-for-motion/" title="ISF for Motion" target="_blank"><img src="/images/integrations/apps/isf-for-motion.png" alt="ISF for Motion" /> Motion + FCP X (ISF for Motion)</a></li>
    <li><a href="http://smode.fr/" title="Smode" target="_blank"><img src="/images/integrations/apps/smode.png" alt="Smode logo"> Smode</a></li>
    <li><a href="https://synesthesia.live/" title="" target="_blank"><img src="/images/integrations/apps/synesthesia.png" alt="Synesthesia logo" /> Synesthesia</a></li>
    <li><a href="http://www.vidvox.net/" title="VDMX" target="_blank"><img src="/images/integrations/apps/vdmx.png" alt="VDMX logo" /> VDMX</a></li>
    <li><a href="https://videosync.showsync.com/" title="Videosync" target="_blank"><img src="/images/integrations/apps/videosync.png" alt="Videosync logo" /> Videosync</a></li>
  </ul>
</section>

<section class="integrations">
  <header>
    <a name="creativecode" href="#creativecode"><h2>Creative coding</h2></a>
    <span class="subheading">Creative code environments and related plugins that support ISF</span>
  </header>
  <ul>
    <li><a href="http://www.bigfug.com/software/fugio/" title="Fugio" target="_blank"><img src="/images/integrations/apps/fugio.png" alt="Fugio logo" /> Fugio</a></li>
    <li><a href="https://github.com/mrRay/jit.gl.isf/releases" title="" target="_blank"><img src="/images/integrations/apps/max-jitter.png" alt="Max 8 logo" /> Max (jit.gl.isf)</a></li>
    <li><a href="https://github.com/satoruhiga/ofxISF" title="" target="_blank"><img src="/images/integrations/apps/openframeworks.svg" alt="OpenFrameworks logo" /> openframeworks (ofxisf*)</a></li>
    <li><a href="https://github.com/zealtv/TouchDesigner-ISF-parser" title="" target="_blank"><img src="/images/integrations/apps/touchdesigner.png" alt="Touch Designer logo" /> Touch Designer (TouchDesigner-ISF-parser*)</a></li>
    <li><a href="https://atom.io/packages/veda" title="" target="_blank"><img src="/images/integrations/apps/isf-fxplug.png" alt="ISF logo" /> Veda*</a></li>
    <li><a href="https://vuo.org/2.0/beta-release" title="Vuo" target="_blank"><img src="/images/integrations/apps/vuo.png" alt="Vuo logo" /> Vuo 2.0*</a></li>
  </ul>
</section>

<section class="integrations">  
  <header>
    <a name="codeframeworks" href="#codeframeworks"><h2>Code libraries</h2></a>
    <span class="subheading">Standard code libraries for adding support for ISF to new host environments</span>
  </header>
  <ul>
    <li><a href="https://github.com/mrRay/VVISF-GL" title="" target="_blank"><img src="/images/integrations/apps/isf-fxplug.png" alt="ISF logo" /> VVISF-GL (C++ framework for Mac, Win, Linux, iOS)</a></li>
    <li><a href="https://github.com/msfeldstein/interactive-shader-format-js" title="" target="_blank"><img src="/images/integrations/apps/isf-fxplug.png" alt="ISF logo" /> ISF-JS-Renderer (JavaScript)</a></li>
  </ul>
</section>

<section class="text">
  <p>* These apps / add ons have only partial support for the ISF specification. Check their documentation for specific notes.</p>
</section>

<%- include('partials/footer'); %>
<%- include('partials/doc_bottom'); %>
