<%- include('partials/doc_top'); %>
<%- include('partials/nav'); %>

<header class="cool-header">
  <h1>Integrations</h1>
  <span class="subheading">Applications that support HAP video</span>
</header>

<section class="big-labels">

    <div>
        <h2 style="position:relative;left: -1em;">Creative coding applications that support HAP</h2>
        <ul class="happlications">
            <li><a href="" title="OpenFrameworks via ofxHapPlayer" target="_blank"><img src="images/integrations/apps/openframeworks.svg" alt="OpenFrameworks via ofxHapPlayer logo" /><span>OpenFrameworks via ofxHapPlayer</span></a></li>
            <li><a href="" title="Quartz Composer via CoGeHapPlayer" target="_blank"><img src="images/integrations/apps/quartz-composer.png" alt="Quartz Composer via CoGeHapPlayer logo" /><span>Quartz Composer via CoGeHapPlayer</span></a></li>
            <li><a href="" title="Max via Hap Video Engine or jit.gl.hap" target="_blank"><img src="images/integrations/apps/max.png" alt="Max via Hap Video Engine or jit.gl.hap logo" /><span>Max via Hap Video Engine or jit.gl.hap</span></a></li>
            <li><a href="" title="Cinder via Cinder-Hap" target="_blank"><img src="images/integrations/apps/cinder.png" alt="Cinder via Cinder-Hap logo" /><span>Cinder via Cinder-Hap</span></a></li>
            <li><a href="" title="Unity via AV PRO QUICKTIME" target="_blank"><img src="images/integrations/apps/unity.svg" alt="Unity via AV PRO QUICKTIME logo" /><span>Unity via AV PRO QUICKTIME</span></a></li>
        </ul>
    </div>

    <div>
        <h2 style="position:relative;left: -1em;">Applications that support HAP video</h2>
        <ul class="happlications">
            <li><a href="" title="Blendy VJ" target="_blank"><img src="images/integrations/apps/blendy-vj.png" alt="Blendy VJ logo" /><span>Blendy VJ</span></a></li>
            <li><a href="" title="CoGe" target="_blank"><img src="images/integrations/apps/coge.png" alt="CoGe logo" /><span>CoGe</span></a></li>
            <li><a href="" title="d3 Media Servers" target="_blank"><img src="images/integrations/apps/d3-media-servers.svg" alt="d3 Media Servers logo" /><span>d3 Media Servers</span></a></li>
            <li><a href="" title="Dataton Watchout" target="_blank"><img src="images/integrations/apps/dataton-watchout.svg" alt="Dataton Watchout logo" /><span>Dataton Watchout</span></a></li>
            <li><a href="" title="Fugio" target="_blank"><img src="images/integrations/apps/fugio.png" alt="Fugio logo" /><span>Fugio</span></a></li>
            <li><a href="" title="GrandVJ" target="_blank"><img src="images/integrations/apps/grandvj.jpg" alt="GrandVJ logo" /><span>GrandVJ</span></a></li>
            <li><a href="" title="GRoK" target="_blank"><img src="images/integrations/apps/grok.png" alt="GRoK logo" /><span>GRoK</span></a></li>
            <li><a href="" title="Isadora" target="_blank"><img src="images/integrations/apps/isadora.png" alt="Isadora logo" /><span>Isadora</span></a></li>
            <li><a href="" title="MadMapper" target="_blank"><img src="images/integrations/apps/madmapper.png" alt="MadMapper logo" /><span>MadMapper</span></a></li>
            <li><a href="" title="Millumin" target="_blank"><img src="images/integrations/apps/millumin.png" alt="Millumin logo" /><span>Millumin</span></a></li>
            <li><a href="" title="Mitti" target="_blank"><img src="images/integrations/apps/mitti.png" alt="Mitti logo" /><span>Mitti</span></a></li>
            <li><a href="" title="MixEmergency" target="_blank"><img src="images/integrations/apps/mixemergency.png" alt="MixEmergency logo" /><span>MixEmergency</span></a></li>
            <li><a href="" title="modul8" target="_blank"><img src="images/integrations/apps/modul8.png" alt="modul8 logo" /><span>modul8</span></a></li>
            <li><a href="" title="Modulo Player" target="_blank"><img src="images/integrations/apps/modulo-player.png" alt="Modulo Player logo" /><span>Modulo Player</span></a></li>
            <li><a href="" title="Painting With Light" target="_blank"><img src="images/integrations/apps/painting-with-light.jpg" alt="Painting With Light logo" /><span>Painting With Light</span></a></li>
            <li><a href="" title="Smode" target="_blank"><img src="images/integrations/apps/smode.png" alt="Smode logo" /><span>Smode</span></a></li>
            <li><a href="" title="TouchDesigner" target="_blank"><img src="images/integrations/apps/touchdesigner.png" alt="TouchDesigner logo" /><span>TouchDesigner</span></a></li>
            <li><a href="" title="VDMX" target="_blank"><img src="images/integrations/apps/vdmx.png" alt="VDMX logo" /><span>VDMX</span></a></li>
            <li><a href="" title="Ventuz" target="_blank"><img src="images/integrations/apps/ventuz.jpg" alt="Ventuz logo" /><span>Ventuz</span></a></li>
            <li><a href="" title="VPT 7" target="_blank"><img src="images/integrations/apps/vpt-7.png" alt="VPT 7 logo" /><span>VPT 7</span></a></li>
            <li><a href="" title="Vuo" target="_blank"><img src="images/integrations/apps/vuo.png" alt="Vuo logo" /><span>Vuo</span></a></li>
            <li><a href="" title="AVF Batch Converter" target="_blank"><img src="images/integrations/apps/avf-batch-converter.svg" alt="AVF Batch Converter logo" /><span>AVF Batch Converter</span></a></li>
            <li><a href="" title="FFMPEG" target="_blank"><img src="images/integrations/apps/ffmpeg.svg" alt="FFMPEG logo" /><span>FFMPEG</span></a></li>
            <li><a href="" title="MPlayer" target="_blank"><img src="images/integrations/apps/mplayer.svg" alt="MPlayer logo" /><span>MPlayer</span></a></li>
            <li><a href="" title="SMPlayer" target="_blank"><img src="images/integrations/apps/smplayer.svg" alt="SMPlayer logo" /><span>SMPlayer</span></a></li>
        </ul>
    </div>
</section>

<%- include('partials/footer'); %>
<%- include('partials/doc_bottom'); %>