<% page_name = 'showcase' %>

<%- include('partials/doc_top'); %>
<%- include('partials/nav'); %>

<header class="cool-header">
    <h1>Happening now</h1>
    <span class="subheading">A showcase of HAP in use</span>
</header>

<div id="showcase-cta" class="cta-bar">
    <div class="subheading">Want to be featued on our Showcase page?</div>
    <a href="mailto:hap@vidvox.net?subject=HAP Showcase Submission">Submit Your Project<img alt="Arrow pointing right" src="./images/right-arrow.svg" width="25" /></a>
</div>

<div id="articles">

    <section>
        <img src="http://via.placeholder.com/670x380" alt="" />
        <div class="description">
            <p>Date, Month, Year</p>
            <p>“The final video pieces were rendered in HAP codec and sent to both primary and backup Dataton Watchout media servers.”</p>
            <a class="project-link" href="#" title="">See Project →</a>
        </div>
        <header>
            <h2>Dan Tombs for Gold Panda</h2>
            <span class="subheading">Live Visuals / VDMX</span>
        </header>
    </section>

    <section>
        <img src="http://via.placeholder.com/670x380" alt="" />
        <div class="description">
            <p>Date, Month, Year</p>
            <p>“The final video pieces were rendered in HAP codec and sent to both primary and backup Dataton Watchout media servers.”</p>
            <a class="project-link" href="#" title="">See Project →</a>
        </div>
        <header>
            <h2>Dan Tombs for Gold Panda</h2>
            <span class="subheading">Live Visuals / VDMX</span>
        </header>
    </section>

    <section>
        <img src="http://via.placeholder.com/670x380" alt="" />
        <div class="description">
            <p>Date, Month, Year</p>
            <p>“The final video pieces were rendered in HAP codec and sent to both primary and backup Dataton Watchout media servers.”</p>
            <a class="project-link" href="#" title="">See Project →</a>
        </div>
        <header>
            <h2>Dan Tombs for Gold Panda</h2>
            <span class="subheading">Live Visuals / VDMX</span>
        </header>
    </section>

    <section>
        <img src="http://via.placeholder.com/670x380" alt="" />
        <div class="description">
            <p>Date, Month, Year</p>
            <p>“The final video pieces were rendered in HAP codec and sent to both primary and backup Dataton Watchout media servers.”</p>
            <a class="project-link" href="#" title="">See Project →</a>
        </div>
        <header>
            <h2>Dan Tombs for Gold Panda</h2>
            <span class="subheading">Live Visuals / VDMX</span>
        </header>
    </section>

    <section>
        <img src="http://via.placeholder.com/670x380" alt="" />
        <div class="description">
            <p>Date, Month, Year</p>
            <p>“The final video pieces were rendered in HAP codec and sent to both primary and backup Dataton Watchout media servers.”</p>
            <a class="project-link" href="#" title="">See Project →</a>
        </div>
        <header>
            <h2>Dan Tombs for Gold Panda</h2>
            <span class="subheading">Live Visuals / VDMX</span>
        </header>
    </section>

</div>

<%- include('partials/footer'); %>
<%- include('partials/doc_bottom'); %>