<% page_name = 'showcase' %>

<%- include('partials/doc_top'); %>
<%- include('partials/nav'); %>

<header class="cool-header">
    <h1>Happening now</h1>
    <span class="subheading">A showcase of HAP in use</span>
</header>

<div id="showcase-cta" class="cta-bar">
    <div class="subheading">Want to be featued on our Showcase page?</div>
    <a href="mailto:hap@vidvox.net?subject=HAP Showcase Submission">Submit Your Project<img alt="Arrow pointing right" src="./images/right-arrow.svg" width="25" /></a>
</div>

<div id="articles">

    <section id="mopop">
        <img src="./images/showcase/mopop.jpg" alt="" />
        <div class="description">
            <p>“For the Holodome 360 cinematic content we needed a solution that allowed us to break the 8K resolution barrier and HAP delivered the fidelity we aspired for and the rendering performance needed to immerse viewers completely.”</p>
            <a class="project-link" href="https://holodome360.com/">See Project →</a>
        </div>
        <header>
            <h2>Holodome at MoPOP</h2>
            <span class="subheading">Interactive Installation / <a class="project-link" href="http://renderheads.com/product/avpro-video/">Unity</a></span>
        </header>
    </section>

    <section id="nba-playoffs">
        <img src="./images/showcase/nba-playoffs.jpg" alt="" />
        <div class="description">
            <p>“The Designer license enabled him to ‘previs without servers.’ And the Advanced Projector Toolkit ‘helped us survey our projector locations, verify lensing and handle our overlaps, blending and warping with ease,’ he reports. He also gives kudos to disguise’s HAP playback and streamlined UV mapping.”</p>
            <a class="project-link" href="https://www.disguise.one/en/showcases/live-events/nba-playoffs-portland-trail-blazers/">See Project →</a>
        </div>
        <header>
            <h2>NBA Playoffs’ Portland Trail Blazers</h2>
            <span class="subheading">Event Production / <a class="project-link" href="https://www.disguise.one/en/products/designer/">disguise Designer</a></span>
        </header>
    </section>

    <section id="hm-loves-coachella">
        <img src="./images/showcase/hm-loves-coachella.jpg" alt="" />
        <div class="description">
            <p>“H&amp;M, sponsors of the Coachella Music Festival, commissioned Optimist &amp; BBH to create a unique digital experience as part of their on-site presence. Video was a key component, and the HAP codec was used throughout the installation.”</p>
            <a class="project-link" href="https://www.notch.one/portfolio/hm-loves-coachella/">See Project →</a>
        </div>
        <header>
            <h2>H&amp;M Loves Coachella</h2>
            <span class="subheading">Interactive Installation / <a class="project-link" href="https://www.notch.one/">Notch</a></span>
        </header>
    </section>

    <section id="goldpanda">
        <img src="./images/showcase/goldpanda.jpg" alt="" />
        <div class="description">
            <p>“When I first built the set, 16 layers of 1920 x 1080 material running all at once, was a serious tax on my machine. I moved a lot of the existing media in to the HAP codec, this effected a huge performance gain.”</p>
            <a class="project-link" href="https://vdmx.vidvox.net/blog/dan-tombs-live-with-gold-panda">See Project →</a>
        </div>
        <header>
            <h2>Dan Tombs for Gold Panda</h2>
            <span class="subheading">Live Visuals / <a class="project-link" href="https://vidvox.net">VDMX</a></span>
        </header>
    </section>

    <section id="sunday-in-the-park">
        <img src="./images/showcase/sunday-in-the-park.jpg" alt="" />
        <div class="description">
            <p>“The final video pieces were rendered in HAP codec and sent to both primary and backup Dataton Watchout media servers.”</p>
            <a class="project-link" href="http://www.livedesignonline.com/theatre/projecting-la-grande-jatte-sunday-park-george">See Project →</a>
        </div>
        <header>
            <h2>Christopher Ash and Tal Yarden, projections for Sunday in the Park With George</h2>
            <span class="subheading">Theater / <a class="project-link" href="https://www.dataton.com/products/watchout">Dataton Watchout</a></span>
        </header>
    </section>

    <section id="alien-covenant">
        <img src="./images/showcase/aliens.jpg" alt="" />
        <div class="description">
            <p>
              "We built custom software in TouchDesigner to control of 60 screens using 5 media servers and laptops in realtime. HAP Alpha was an ideal choice as it allowed for alpha embedding and gpu optimised playback for multi layer media stacking, up to 8 layers per screen, 4 screens per instance.
              Fast media encoding so files could be quickly modified and supplied on demand throughout the shoot. Low file size which meant files could be distributed onto the media server network quickly."
            </p>
        </div>
        <header>
            <h2>Alien Covenant</h2>
            <span class="subheading">Interactive Set Design / <a class="project-link" href="http://www.derivative.ca/">TouchDesigner</a></span>
        </header>
    </section>

</div>

<%- include('partials/footer'); %>
<%- include('partials/doc_bottom'); %>
