<% page_name = 'using-hap' %>

<%- include('partials/doc_top'); %>
<%- include('partials/nav'); %>

<header class="cool-header">
    <h1>How to use ISF</h1>
    <span class="subheading">It’s not the space station, that’s something else</span>
</header>

<div id="using-isf-instructions">

    <section>
        <img src="/images/using-isf/host-applications.jpg" alt="" />
        <h2>Using ISF Shaders in Host Applications</h2> 
        <p>GLSL shaders written in the ISF specification are designed to be directly in host applications as generators, FX and transitions where appropriate within their rendering pipeline. See the integrations page for a list of supported softwares and creative coding environments.</p>
    </section>

    <section>
        <img src="/images/using-isf/finding-isf-shaders.jpg" alt="" />
        <h2>Finding ISF Shaders</h2>
        <p>A standard set of over 200 ISF shaders come bundled with many host applications, including the free desktop ISF Editor tool. If needed they can also be downloaded and manually installed from the official GitHub repository.</p>
        <p>The ISF sharing site can be used to find shaders uploaded by community members for other people to use.</p>
    </section>

    <section>
        <img src="/images/using-isf/making-and-remixing.jpg" alt="" />
        <h2>Making and Remixing Shaders</h2>
        <p>You can create new shaders, or remix existing ones, using a standard text editor. Specialized editor tools are also available for Mac and Windows and the web.</p>
        <p>To learn more about writing ISF shaders, visit the ISF Documentation pages. These include a quickstart, reference notes and a set of walkthroughs that cover the technical and conceptual details of ISF.</p>
    </section>

    <section>
        <h2>Installing ISF Shaders system wide</h2>
        <p>In some cases you may want to install ISF shaders such that they can be automatically detailed by supported host software.</p>
        <p><strong>MacOS:</strong> ISF files should be installed in /Library/Graphics/ISF (if you want them to be available for all users on your system) or ~/Library/Graphics/ISF (if you only want them to be available to your user account). ISF files installed in either of these locations will be available to all applications: application-specific ISFs should be installed in /Library/Application Support/<app name> or ~/Library/Application Support/<app name></app></p>
        <p><strong>Windows:</strong> /ProgramData/ISF</p>
    </section>

</div>

<%- include('partials/footer'); %>
<%- include('partials/doc_bottom'); %>
