<% page_name = 'using-hap' %>

<%- include('partials/doc_top'); %>
<%- include('partials/nav'); %>

<header class="cool-header">
    <h1>How to use ISF</h1>
    <span class="subheading">Getting started with ISF</span>
</header>

<div id="using-isf-instructions">

    <section>
        <!-- <img src="/images/using-isf/host-applications.jpg" alt="" /> -->
        <iframe src="https://player.vimeo.com/video/325679960?byline=0&portrait=0" height="300" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        <h2>Using ISF Shaders in Host Applications</h2> 
        <p>GLSL shaders written in the ISF specification are designed to be directly in host applications as generators, FX and transitions where appropriate within their rendering pipeline. Some apps bundle sets of default shaders that are available for use out of the box, without any additional install. See the <a href="/integrations/">integrations page</a> for a list of supported softwares and creative coding environments.</p>
    </section>

    <section>
        <img src="/images/using-isf/finding-isf-shaders.jpg" alt="" />
        <h2>Finding ISF Shaders</h2>
        <p>A standard set of over 200 ISF shaders come bundled with many host applications, including the <a href="https://docs.vidvox.net/freebies_isf_editor.html">free desktop ISF Editor tool</a>. If needed they can also be downloaded and manually installed from the official GitHub repository.</p>
        <p>The <a href="https://interactiveshaderformat.com">ISF sharing site</a> can be used to find shaders uploaded by community members for other people to use, and publish your own creations.</p>
    </section>

    <section>
        <img src="/images/using-isf/making-and-remixing.jpg" alt="" />
        <h2>Making and Remixing Shaders</h2>
        <p>You can create new shaders, or remix existing ones, using a standard text editor. Specialized editor tools are also available for <a href="https://docs.vidvox.net/freebies_isf_editor.html">Mac and Windows</a> and <a href="https://interactiveshaderformat.com">the web</a>.</p>
        <p>To learn more about writing ISF shaders, visit the <a href="https://docs.isf.video">ISF Documentation pages</a>.</p>
        <p>These include a quickstart, reference notes and a set of walkthroughs that cover the technical and conceptual details of ISF.</p>
    </section>

    <section>
        <h2>Installing ISF Shaders System Wide</h2>
        <p>When supported by host apps, in some cases you may want to install ISF shaders system-wide such that they can be globally detected by multiple pieces of software.</p>
        <p><strong>MacOS:</strong> ISF files should be installed in <em>/Library/Graphics/ISF</em> (if you want them to be available for all users on your system) or <em>~/Library/Graphics/ISF</em> (if you only want them to be available to your user account). ISF files installed in either of these locations will be available to all applications: application-specific ISFs should be installed in <em>/Library/Application Support/<app name></em> or <em>~/Library/Application Support/<app name></app></em></p>
        <p><strong>Windows:</strong> <em>/ProgramData/ISF</em></p>
    </section>

</div>

<%- include('partials/footer'); %>
<%- include('partials/doc_bottom'); %>
