<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>The Hap Codecs Homepage</title>

  <!-- Search engines use this for the description of your site in search
  results if they can't find any obvious text to grab off the site -->
  <meta name="description" content="">

  <!-- This image is shown when hapcodecs.org is linked to on social
  media or in most chat apps -->
  <meta name="og:image" content="http://hapcodecs.org/TODO: SOME IMAGE HERE">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="styles/hap.css">
</head>

<body>