<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>ISF</title>

  <!-- Search engines use this for the description of your site in search
  results if they can't find any obvious text to grab off the site -->
  <meta name="description" content="">

  <!-- This image is shown when hapcodecs.org is linked to on social
  media or in most chat apps -->
  <!-- <meta name="og:image" content=""> -->

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,500" rel="stylesheet">
  <link rel="stylesheet" href="/styles/isf.css?03-15-19">

  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#33272C">
  <link rel="shortcut icon" href="/images/favicon.ico">
</head>

<body>
