<header id="nav">

  <a id="logo" href="/" title="HAP"><img src="images/hap-logo.svg" width="104" height="35" alt="HAP" /></a>

  <div class="hamburger">
    <span class="hamburger__top-bun"></span>
    <span class="hamburger__bottom-bun"></span>
  </div>

  <nav>
    <ul>
      <li><a href="./showcase.html" title="">Showcase</a></li>
      <li><a href="./using-hap.html" title="">Using Hap</a></li>
      <li><a href="./integrations.html" title="">Integrations</a></li>
      <li><a href="./benchmarks.html" title="">Benchmarks</a></li>
      <li><a href="./developers.html" title="">Developers</a></li>
    </ul>
  </nav>

</header>