<header id="nav">

  <a id="logo" href="/" title="HAP"><img src="/images/isf-logo.svg" width="104" height="" alt="HAP" /></a>

  <div class="hamburger">
    <span class="hamburger__top-bun"></span>
    <span class="hamburger__bottom-bun"></span>
  </div>

  <nav>

    <ul class="secondary">
      <li><a href="https://editor.isf.video/" target="_blank" title="">Editor</a></li>
      <li><a href="https://docs.isf.video/" target="_blank" title="">Docs</a></li>
    </ul>

    <ul>
      <li><a href="/using-isf/" <% if (page_name === 'using-hap') { %>class="active" <% } %> title="">Using ISF</a></li>
      <li><a href="/integrations/" <% if (page_name === 'integrations') { %>class="active" <% } %> title="">Integrations</a></li>
      <li><a href="/examples/" <% if (page_name === 'examples') { %>class="active" <% } %> title="">Examples</a></li>
      <li><a href="/developers/" <% if (page_name === 'developers') { %>class="active" <% } %> title="">Developers</a></li>
    </ul>

  </nav>

</header>