<header>

  <a id="logo" href="/" title="HAP"><img src="images/hap-logo.svg" width="104" height="35" alt="HAP" /></a>

  <nav>
    <ul>
      <li><a href="#" title="">How to use</a></li>
      <li><a href="#" title="">How it works</a></li>
      <li><a href="#" title="">Partners</a></li>
      <!-- <li><a href="#" title="">Developers</a></li> -->
    </ul>
  </nav>

</header>