  <section class="homepage-showcase">

    <div class="wide image" style="background-image:url(images/home-1.jpg)">
    	<span class="subheading">Welcome to the Official HAP Video Codecs Homepage</span>
    	<h1>The solution for HD and ultra high resolution video.</h1>
    </div>

    <div>
    	<span class="subheading">Live Visuals for Gold Panda</span>
    	<h2>Dan Tombs</h2>
    	<p>“When I first built the set, 16 layers of 1920 x 1080 material running all at once, was a serious tax on my machine. I moved a lot of the existing media in to the HAP codec, this effected a huge performance gain in VDMX.”</p>
    	<a class="blue" href="./showcase.html#goldpanda" title="">See Project →</a>
    </div>

    <div class="tall image" style="background-image:url(images/home-2.jpg)">
    	<h2>Christopher Ash and Tal Yarden</h2>
    	<span class="subheading">Projections for Sunday In The Park With George</span>
    	<p>“The final video pieces were rendered in HAP codec and sent to both primary and backup Dataton Watchout media servers.”</p>
    	<a href="./showcase.html#sunday-in-the-park" title="">See Project →</a>
    </div>

    <div class="wide blue">
    	<h2>What is HAP?</h2>
    	<p>HAP is a set of video codecs for macOS, Windows and Linux that performs decompression using a computer's graphics hardware, substantially reducing the CPU usage necessary to play video. It has become the standard for high performance, high resolution movie playback on media servers, live video performance, and event visuals.</p>
    	<a class="white" href="./using-hap.html" title="">Read More →</a>
    </div>

    <div class="wide image" style="background-image:url(images/home-3.jpg)">
    	<h2>Imagineer</h2>
    	<span class="subheading">Interactive Set Design for Alien Covenant</span>
    	<p>“HAP and TouchDesigner's support of the codec was integral to achieving the complex installations on Covenant and Pacific Rim 2.”</p>
    	<a href="./showcase.html#alien-covenant" title="">See Project →</a>
    </div>

  </section>
