<section class="big-labels tutorials-nav">

    <div>
        <h2>Other Tutorials</h2>
        <nav>
            <ul>
                <li><a href="../motion" title="" <% if (page_name === 'tutorial_motion') { %>class="active" <% } %>>Motion Overview</a></li>
                <li><a href="../fcp" title="" <% if (page_name === 'tutorial_fcp') { %>class="active" <% } %>>FCP X Overview</a></li>
                <li><a href="../removing-watermark" title="" <% if (page_name === 'tutorial_removing-watermark') { %>class="active" <% } %>>Removing the Watermark</a></li>
                <li><a href="../custom-generator" title="" <% if (page_name === 'tutorial_custom-generator') { %>class="active" <% } %>>Custom Generators</a></li>
                <li><a href="../custom-filter" title="" <% if (page_name === 'tutorial_custom-filter') { %>class="active" <% } %>>Custom Filters</a></li>
                <li><a href="../custom-transition" title="" <% if (page_name === 'tutorial_custom-transition') { %>class="active" <% } %>>Custom Transitions</a></li>
                <li><a href="../converting-shaders" title="" <% if (page_name === 'tutorial_converting-shaders') { %>class="active" <% } %>>Converting Shaders</a></li>
            </ul>
        </nav>
    </div>
</section>